// Place all the styles related to the puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin green-titles{
  font-size: 75px;
  font-weight: bold;
  color: #8ec641;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

#hometitle h1 {
  @include green-titles;
}

#abouttitle h1 {
  @include green-titles;
}

body {
  background-image: image-url("pieces.png");
  background-attachment:fixed;
  background-position: right; 
}

#search {
  margin-left: 550px;
}

#hometitle   
h1 {
  font-size: 75px;
  font-weight: bold;
  color: #8ec641;
  text-align: center;
}

#backgroundimage
body {
  background-image: image-url("pieces.png");
  background-attachment:fixed;
  background-position: right; 
}

#search {
  margin-left: 600px;
}

@mixin instructions-box{
  margin-right: 400px;
  margin-left: 400px;
  text-align: justify;
  font-size: 18px;
  border: 2px solid #8ec641;
  padding: 7px;
}

.center{
  text-align:center;
}

// Show Page Style

.difficulty{
  text-align: center;
}

#aboutblurb {
  @include instructions-box;
}

#puzzle-directions {
  @include instructions-box;
}

#welcomeblurb 
p {
  @include instructions-box;
}

.title {
  text-align: center;
}

.check-solution{
  text-align: center;
  padding: 15px;
}

.answer-reminder{
  color: #8ec641;
}

#icons {
  width: 475px;
  margin-left: 20px;
}

div.img {
    margin: 5px;
    padding: 5px;
    float: center;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border:1px solid #89afd0;
}

div.desc {
    text-align: center;
    font-weight: normal;
    color: #89afd0;
    margin: 5px;
}

#homepage-options {
  width: 600px;
  margin: auto;
}