<div id="abouttitle">
<h1>About Puzzler</h1>
</div>
<br>

<div id="aboutblurb">
  <p>
    <strong>What is Puzzler?</strong><br>
      Puzzler is a database of mathematical programming probem sets. The problems featured here at Puzzler are appropriate for novices and masters alike. <a href="users/sign_up">Join</a> our dynamic programming community today and start puzzling!<br>
    <br>
    <strong>Where do the Puzzler puzzles come from?</strong><br>
      Puzzler currently uses puzzles from <a href="https://projecteuler.net/">Project Euler</a>. It collects the puzzles through an API developed for Project Euler by the 2014 summer cohort of the <a href="http://anyonecanlearntocode.com/">Anyone Can Learn to Code</a> Bootcamp in Chicago, IL. Puzzler <em>itself</em> is also a project of that bootcamp. We hope you enjoy the puzzles!<br>
    <br>
    <strong>What are you going to do with my e-mail address?</strong><br>
      Literally nothing. It's just a convenient way for you to sign in.<br>
    <br>
    <strong>How is the puzzle difficulty rating decided?</strong><br>
      The puzzle difficulty rating is based on real people trying out the puzzles. It represents the number of times a puzzle have been solved successfully out of the number of times it has been attempted. That's why some of them are "uncharted territory"—no one has tried them yet. You can be the first!
    </p>
</div>