<div id="hometitle">
<h1>Welcome to Puzzler!</h1>
</div>
<br>

<div id="welcomeblurb">
  <p>
    Puzzler is a master database of classic programming probem sets. The problems featured here at Puzzler are appropriate for novices and masters alike. <a href="users/sign_up">Join</a> our dynamic programming community today and start puzzling!
  </p>
<br>
</div>

<div class="row" id="homepage-options">
    <div id="A" class="col-sm-4 col-xs-12">
      <div class="img">
        <a target="_blank" href="/">
          <%= image_tag "p.png", :width =>"100", :height =>"100", :title =>" ", :alt =>"view"%>
        </a>
        <div class="desc">Index</div>
      </div>
    </div>

    <div id="B" class="col-sm-4 col-xs-12">
      <div class="img">
        <a target="_blank" href="/">
          <%= image_tag "thunder.png", :width =>"100", :height =>"100", :title =>" ", :alt =>"view"%>
        </a>
        <div class="desc">Search</div>
      </div>
    </div>

    <div id="C" class="col-sm-4 col-xs-12">
      <div class="img">
        <a target="_blank" href="/">
          <%= image_tag "dzone.png", :width =>"100", :height =>"100", :title =>" ", :alt =>"view"%>
        </a>
        <div class="desc">Rankings</div>
      </div>
    </div>
  </div>