<div id="hometitle">
<h1>Welcome to Puzzler!</h1>
</div>

<div id="welcomeblurb">
  <p>
    Puzzler is a master database of classic programming probem sets. The problems featured here at Puzzler are appropriate for novices and masters alike. <a href="users/sign_up">Join</a> our dynamic programming community today and start puzzling!
  </p>

<div id="search">
<%= form_tag("/puzzles", method: "get") do %>
<br>
  <%= label_tag(:q, "Search puzzles here:") %>
  <br>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Go") %>
<% end %>
</form> 
</div>

<br>

