<h1>All Amazing Puzzles!</h1>

<% @puzzles.each do |puzzle| %>

  <ul>
    <li>
      <h2><a href="<%= puzzle_path(puzzle['id']) %>"><%= puzzle["name"] %></a></h2>
      
      <h3>Instructions</h3>
      <%= puzzle["instructions"] %>
    </li>
  </ul>

<% end %>