<h1>All Amazing Puzzles!</h1>

<% @puzzles.each do |puzzle| %>

  <ul>
    <li>
      <h2><%= puzzle["name"] %></h2>
      
      <h3>Instructions</h3>
      <%= puzzle["instructions"] %>
    </li>
  </ul>

<% end %>