<h1>All Amazing Puzzles!</h1>


  



<table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Conquered</th>
      <th>Your Attempts</th>
      <th>Puzzle Difficulty</th>
    </tr>
    <% @puzzles.each do |puzzle| %>
    <tr>
      <td><a href="<%= puzzle_path(puzzle.id) %>"><%= puzzle.name %></a></td>
      <td>nil</td>
      <td>nil</td>
      <td><%= puzzle.diff %>%</td>
    </tr>   
  <%end %>
</table>


