<h1>All Amazing Puzzles!</h1>

<% @puzzles.each do |puzzle| %>

  <ul>
    <li>

      <h3>Puzzle Name</h3>
      <%= puzzle.name %>

      <h3>Instructions</h3>
      <%= puzzle.instructions %>

      <h3>Solution</h3>
      <%= puzzle.solution %>

    </li>
  </ul>

<% end %>